openapi: 3.0.0
servers:
  - url: 'https://api.sandbox.maileva.net/registered_mail/v4'
    description: Sandbox
  - url: 'https://api.maileva.com/registered_mail/v4'
    description: Production
info:
  version: '4.9'
  title: Maileva / Envoi et Suivi de Lettres Recommandées En Ligne distribuées par le facteur
  description: |-
    API pour envoyer et suivre des Lettres Recommandées En Ligne distribuées par le facteur

    Elle comprend les fonctions clés pour :

     - créer un envoi,
     - ajouter des documents et des destinataires,
     - choisir ses options,
     - suivre la production.

    Pour connaître les notifications (webhooks) concernées par cette API, consultez la documentation de l'API <a href="/catalogue-api/notifications-webhooks/">notification_center</a>.
security:
  - bearerAuth: [ ]
  - oAuth2PasswordProduction: [ ]
  - oAuth2PasswordSandbox: [ ]
components:
  securitySchemes:
    bearerAuth:
      description: |-
        Indiquez le token directement obtenu via la méthode suivante :

        curl -X POST 'https://connexion.maileva.com/auth/realms/services/protocol/openid-connect/token' \
        -H 'Content-Type: application/x-www-form-urlencoded' \
        -u 'my_client_id:my_client_secret' \
        -d 'grant_type=password&username=my_user_login&password=my_user_password' \
        -v
      type: http
      scheme: bearer
      bearerFormat: JWT
    oAuth2PasswordProduction:
      description: authentification oAuth2 en mode password sur l'environnment de production
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://connexion.maileva.com/auth/realms/services/protocol/openid-connect/token'
          scopes:
            all: CRUD on resources
    oAuth2PasswordSandbox:
      description: authentification oAuth2 en mode password sur l'environnment Sandbox
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://connexion.sandbox.maileva.net/auth/realms/services/protocol/openid-connect/token'
          scopes:
            all: CRUD on resources
  schemas:
    country_code:
      type: string
      description: Code du pays (Code ISO-3166). Codes autorisés FR, MC, RE, YT, MQ, GP, MF, BL, GF
      x-constraints: '@ValidCountryCode @NotEmptyCountryCode'
      example: FR
    notification_type:
      type: string
      description: ALL_MAILEVA toutes les notification de Maileva, ALL_LAPOSTE toutes les notifications de La Poste
      enum:
        - ALL_MAILEVA
        - ALL_LAPOSTE
    postage_class:
      title: postage_class
      type: string
      description: Classe d'affranchissement
      enum:
        - REGISTERED_MAIL_J3
        - REGISTERED_MAIL_J2
        - REGISTERED_MAIL_J3_AR
        - REGISTERED_MAIL_J2_AR

    document_response:
      type: object
      required:
        - id
        - name
        - priority
        - type
        - size
      description: Les documents importés pour l'envoi
      properties:
        id:
          type: string
          description: Identifiant du document
          example: cbb7a0f3-bf9b-4179-9a46-c0f28d839e8d
        priority:
          type: integer
          description: Ordre d'impression du document
          example: 1
        name:
          type: string
          description: Nom du document
          example: Lettre_résiliation.pdf
        type:
          type: string
          description: Type du document
          example: application/pdf
        category:
          type: string
          description: Type du document
          enum:
            - ANNEX
        pages_count:
          type: integer
          description: Nombre de pages (disponible à partir du statut ACCEPTED)
          example: 3
        sheets_count:
          type: integer
          description: Nombre de feuilles (disponible à partir du statut ACCEPTED)
          example: 2
        size:
          type: integer
          description: Poids du document en octets
          example: 139071
        converted_size:
          type: integer
          description: Poids du document converti en octets
          example: 139072
        status:
          $ref: '#/components/schemas/document_status'
        status_detail:
          type: string
          description: Détail d'un statut (cause du rejet)

    statuses:
      description: Statut
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Date du statut
          example: '2018-03-14T07:21:40.757Z'
        code:
          type: string
          description: Code du statut. La liste des codes est indiquée dans le champ 'status'
          example: PENDING
        details:
          type: string
          description: Statut détaillé

    document_status:
      type: string
      description: |-
        Statut du document

        <table border="1">
          <tr bgcolor="lightgrey">
            <th>Code</th>
            <th>Libellé</th>
          </tr>
          <tr>
            <td>PENDING</td>
            <td>le document n'a été ni traité, ni rejeté</td>
          </tr>
          <tr>
            <td>PROCESSED</td>
            <td>le document a été traité</td>
          </tr>
          <tr>
            <td>REJECTED</td>
            <td>le document n'est pas valide</td>
          </tr>
        </table>
      enum:
        - PENDING
        - PROCESSED
        - REJECTED
      example: PENDING
    documents_response:
      type: object
      required:
        - documents
        - paging
      description: Les documents d'un envoi
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/document_response'
        paging:
          $ref: '#/components/schemas/paging_response'
    envelope_type:
      type: string
      description: Type de l'enveloppe
      enum:
        - DL
        - C4
        - DL,C4
      example: DL
    error_response:
      description: Description de l'erreur
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: |-
            <table border="1">
              <tr bgcolor="lightgrey">
                <th>Code</th>
                <th>Description</th>
              </tr>
              <tr><td>ADDRESS_LINE_1_OR_ADDRESS_LINE_2_MANDATORY</td><td>La ligne d'adresse n°1 ou la ligne d'adresse n°2 doit être renseignée</td></tr>
              <tr><td>ADDRESS_LINE_1_TOO_LONG</td><td>La ligne d'adresse n°1 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_2_TOO_LONG</td><td>La ligne d'adresse n°2 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_3_TOO_LONG</td><td>La ligne d'adresse n°3 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_4_TOO_LONG</td><td>La ligne d'adresse n°4 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_5_TOO_LONG</td><td>La ligne d'adresse n°5 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_6_TOO_LONG</td><td>La ligne d'adresse n°6 est limitée à 38 caractères</td></tr>
              <tr><td>INVALID_ADDRESS_LINE_6</td><td>Le champ address_line_6 doit avoir le format [CODE_POSTAL] [VILLE], avec CODE_POSTAL sur 5 chiffres, lorsque le code pays vaut "FR"</td></tr>
              <tr><td>COUNTRY_CODE_TOO_LONG</td><td>Le code pays est limité à 2 caractères</td></tr>
              <tr><td>COUNTRY_CODE_EMPTY</td><td>Le code pays est vide</td></tr>
              <tr><td>CUSTOM_ID_EMPTY</td><td>Le custom id est vide</td></tr>
              <tr><td>CUSTOM_ID_WRONG_FORMAT</td><td>Le custom id n'est pas au bon format</td></tr>
              <tr><td>DOCUMENT_NOT_FOUND</td><td>Le document est introuvable</td></tr>
              <tr><td>DOCUMENT_TYPE_NOT_ACCEPTED</td><td>Le type de document n'est pas accepté (.pdf, .doc, .docx, .rtf, .txt, .xls, .xlsx autorisés)</td></tr>
              <tr><td>DUPLICATE_PRIORITY</td><td>Plusieurs documents ont la même priorité</td></tr>
              <tr><td>EMPTY_ADDRESS_LINE_1_OR_ADDRESS_LINE_2</td><td>La ligne d'adresse n°1 ou la ligne d'adresse n°2 doit être renseignée</td></tr>
              <tr><td>EMPTY_ADDRESS_LINE_6</td><td>La ligne d'adresse n°6 doit être renseignée</td></tr>
              <tr><td>EMPTY_DOCUMENT</td><td>Le document est vide</td></tr>
              <tr><td>EMPTY_FILE_ID</td><td>L'identifiant de fichier est vide</td></tr>
              <tr><td>EMPTY_PRODUCTION_CENTER</td><td>Le centre de production est vide</td></tr>
              <tr><td>EMPTY_METADATA</td><td>Les méta-données sont vides</td></tr>
              <tr><td>EMPTY_NAME</td><td>Aucun nom d'envoi n'a été transmis</td></tr>
              <tr><td>EMPTY_PRIORITY</td><td>Le champ priority est vide</td></tr>
              <tr><td>EMPTY_SCHEDULED_DATE</td><td>La date d'engagement de remise en poste est manquante</td></tr>
              <tr><td>INVALID_COUNTRY_CODE</td><td>Le code pays n'est pas autorisé</td></tr>
              <tr><td>INVALID_DOCUMENTS_COUNT</td><td>Erreur lorsque l'on tente d'ajouter plus de 30 documents dans un envoi</td></tr>
              <tr><td>INVALID_DOCUMENT_SIZE</td><td>La taille du document transmis dépasse les 20 Mo</td></tr>
              <tr><td>INVALID_PRIORITY</td><td>La valeur du champ PRIORITY doit être supérieure ou égale à 1</td></tr>
              <tr><td>INVALID_PRODUCTION_CENTER</td><td>Le centre de production est inconnu</td></tr>
              <tr><td>INVALID_NOTIFICATION_EMAIL</td><td>L'email est invalide.</td></tr>
              <tr><td>INVALID_RECIPIENTS_COUNT</td><td>Le nombre de destinataires est atteint</td></tr>
              <tr><td>INVALID_SCHEDULED_DATE_FORMAT</td><td>Le format de la date d'engagement de remise en poste est invalide</td></tr>
              <tr><td>INVALID_SCHEDULED_DATE</td><td>La date d'engagement de remise en poste est invalide</td></tr>
              <tr><td>INVALID_TOTAL_SENDING_SIZE</td><td>La somme des tailles de l'ensemble des documents dépasse 20 Mo</td></tr>
              <tr><td>METADATA_WRONG_FORMAT</td><td>Le paramètre metadata n'est pas correct</td></tr>
              <tr><td>NAME_TOO_LONG</td><td>Le nom de l'envoi est trop long (256 caractères max)</td></tr>
              <tr><td>RECIPIENT_NOT_FOUND</td><td>Ressource RECIPIENT introuvable</td></tr>
              <tr><td>SENDING_NOT_FOUND</td><td>Ressource SENDING introuvable</td></tr>
              <tr><td>IMPORT_NOT_FOUND</td><td>Ressource IMPORT introuvable</td></tr>
              <tr><td>PREVIEW_NOT_FOUND</td><td>Ressource PREVIEW introuvable</td></tr>
              <tr><td>ID_FILE_NOT_FOUND</td><td>Ressource ID_FILE introuvable</td></tr>
              <tr><td>IMPORT_STATUS_IS_NOT_DONE </td><td>Erreur quand on essaie de modifier un import qui n'est pas en état done</td></tr>
              <tr><td>SENDING_STATUS_IS_NOT_DRAFT</td><td>Erreur quand on essaie d'ajouter un document ou un destinataire dans un envoi qui n'est pas en état draft<br/>Erreur quand on essaie de soumettre un envoi qui n'est pas en état draft<br/>Erreur quand on essaie de modifier une option d'un envoi qui n'est pas en état draft</td></tr>
              <tr><td>TOO_MANY_PARAMETER_DOCUMENT</td><td>Plusieurs documents ont été envoyés en multipart alors que le service limite à un document.</td></tr>
              <tr><td>TOO_MANY_PARAMETER_METADATA</td><td>Le paramètre metadata a été transmis plusieurs fois</td></tr>
              <tr><td>UNEXPECTED_NOT_VALID_ERROR</td><td>Le body de la requête n’est pas interprétable</td></tr>
            </table>
        message:
          type: string
    errors_response:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error_response'

    import_recipients:
      type: object
      description: Les destinataires d'un envoi
      properties:
        import_recipients:
          type: array
          items:
            $ref: '#/components/schemas/recipient_creation_import'
      required:
        - import_recipients

    notification_creation_list:
      type: object
      properties:
        notification_type:
          type: string
          enum:
            - ON_STATUS_ACCEPTED
            - ON_STATUS_REJECTED
            - ON_STATUS_PROCESSED
            - ON_STATUS_PROCESSED_WITH_ERRORS
            - ON_ACKNOWLEDGEMENT_OF_RECEIPT_RECEIVED
            - ON_UNDELIVERED_MAIL_RECEIVED
            - ON_MAIN_DELIVERY_STATUS_FIRST_PRESENTATION
            - ON_MAIN_DELIVERY_STATUS_DELIVERED
            - ON_MAIN_DELIVERY_STATUS_UNDELIVERED
            - ON_GLOBAL_DEPOSIT_PROOF_RECEIVED
            - ON_DEPOSIT_PROOF_RECEIVED
            - ON_CONTENT_PROOF_RECEIVED
          description: Type de notification a envoyer
        ids:
          type: array
          items:
            type: string

    notification_response_list:
      type: array
      items:
        type: string

    error_response_list:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error_response'
    documents_override_item:
      type: object
      description: Bribe de document (plage de pages)
      properties:
        document_id:
          type: string
          description: Identifiant du document
          example: 6dfe84bc-3428-43db-90b5-ff9ac3b68ac2
        start_page:
          type: integer
          description: Première page. Page 1 du document par défaut.
          example: '1'
        end_page:
          type: integer
          description: Dernière page. Dernière page du document par défaut.
          example: '3'
    paging_response:
      description: Pagination des résultats
      type: object
      properties:
        next:
          description: Page suivante
          type: string
        prev:
          description: Page précédente
          type: string
        total_results:
          description: Nombre de résultats
          type: number
    mapping:
      type: object
      description: Mapping du fichier
      properties:
        start_row:
          type: number
          description: Première ligne de données
          example: 2
        data:
          type: array
          description: Mapping des colonnes
          items:
            type: object
            properties:
              column:
                type: array
                items:
                  type: number
                  description: numéro de la colonne
                  example: 3
              field:
                type: string
                description: champ du destinataire
                enum:
                  - ADDRESS_LINE_1
                  - ADDRESS_LINE_2
                  - ADDRESS_LINE_3
                  - ADDRESS_LINE_4
                  - ADDRESS_LINE_5
                  - ADDRESS_LINE_6
                  - CUSTOM_FIELDS
                  - COUNTRY_NAME
                  - CUSTOM_ID
                  - REFERENCE_TO_PRINT
                  - START_PAGE
                  - END_PAGE
    priority:
      type: object
      required:
        - priority
      properties:
        priority:
          description: Ordre d'impression du document
          type: integer
          minimum: 1
          example: 1

    recipient_creation:
      type: object
      x-constraints: '@ValidRecipient'
      required:
        - address_line_6
        - country_code
      properties:
        custom_id:
          type: string
          maxLength: 36
          description: Identifiant du destinataire fourni par le client
          example: custom
        reference_to_print:
          type: string
          maxLength: 26
          description: référence client imprimable
          example: custom12234
        custom_data:
          type: string
          maxLength: 255
          description: Information libre fournie par le client
          example: order_1234
        address_line_1:
          type: string
          maxLength: 38
          description: Ligne d'adresse n°1 (Société)
          example: La Poste
        address_line_2:
          type: string
          maxLength: 38
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom)'
          example: Me Eva DUPONT
        address_line_3:
          type: string
          maxLength: 38
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiment ...)'
          example: Résidence des Peupliers
        address_line_4:
          type: string
          maxLength: 38
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: 33 avenue de Paris
        address_line_5:
          type: string
          maxLength: 38
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...)'
          example: BP 356
        address_line_6:
          type: string
          maxLength: 38
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: 75000 Paris
        custom_fields:
          description: Champs de personnalisation du destinataire
          type: object
          additionalProperties:
            type: string
        country_code:
          $ref: '#/components/schemas/country_code'
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
        documents_override:
          type: array
          description: |-
            Liste de bribes de documents. Si ce champ n'est pas renseigné,
            le destinataire recevra tous les documents associés à l'envoi.
            Si ce champ est renseigné, le destinataire recevra la liste des
            bribes de documents indiquées (dans l'ordre des éléments du tableau).
          items:
            $ref: '#/components/schemas/documents_override_item'
        scheduled_date:
          type: string
          description: Date de planification
          example: '2018-03-14'

    recipient_update:
      type: object
      description: Un destinataire. Pour supprimer un attribut, passer une chaîne vide. Cette opération n’est pas réalisable sur les attributs obligatoires de l’objet recipient_creation.
      properties:
        custom_id:
          type: string
          maxLength: 36
          description: Identifiant du destinataire fourni par le client
          example: custom
        reference_to_print:
          type: string
          maxLength: 26
          description: référence client imprimable
          example: custom12234
        custom_data:
          type: string
          maxLength: 255
          description: Information libre fournie par le client
          example: order_1234
        address_line_1:
          type: string
          maxLength: 38
          description: Ligne d'adresse n°1 (Société)
          example: La Poste
        address_line_2:
          type: string
          maxLength: 38
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom)'
          example: Me Eva DUPONT
        address_line_3:
          type: string
          maxLength: 38
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiment ...)'
          example: Résidence des Peupliers
        address_line_4:
          type: string
          maxLength: 38
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: 33 avenue de Paris
        address_line_5:
          type: string
          maxLength: 38
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...)'
          example: BP 356
        address_line_6:
          type: string
          maxLength: 38
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: 75000 Paris
        custom_fields:
          description: Champs de personnalisation du destinataire
          type: object
          additionalProperties:
            type: string
        country_code:
          type: string
          description: Code du pays (Code ISO-3166) codes autorisés  FR, MC, RE, YT, MQ, GP, MF, BL, GF
          example: FR
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          nullable: true
          type: string
          maxLength: 38
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          nullable: true
          type: string
          maxLength: 38
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          nullable: true
          type: string
          maxLength: 38
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          nullable: true
          type: string
          maxLength: 38
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          nullable: true
          type: string
          maxLength: 38
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          nullable: true
          type: string
          maxLength: 38
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          nullable: true
          type: string
        documents_override:
          type: array
          description: |-
            Liste de bribes de documents. Si ce champ n'est pas renseigné,
            le destinataire recevra tous les documents associés à l'envoi.
            Si ce champ est renseigné, le destinataire recevra la liste des
            bribes de documents indiquées (dans l'ordre des éléments du tableau).
          items:
            $ref: '#/components/schemas/documents_override_item'
        scheduled_date:
          type: string
          description: Date de planification
          example: '2018-03-14'

    recipient_response:
      type: object
      description: Les destinataires importés pour l'envoi
      required:
        - id
        - address_line_6
        - country_code
        - status
      properties:
        id:
          type: string
          description: Identifiant du destinataire
          example: d905a65e-aa46-4f37-8480-260c4600c810
        custom_id:
          type: string
          maxLength: 36
          description: Identifiant du destinataire fourni par le client
          example: custom12234
        reference_to_print:
          type: string
          maxLength: 26
          description: référence client imprimable
          example: custom12234
        custom_data:
          type: string
          maxLength: 255
          description: Information libre fournie par le client
          example: order_1234
        address_line_1:
          type: string
          description: Ligne d'adresse n°1 (Société)
          example: La Poste
        address_line_2:
          type: string
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom)'
          example: Me Eva DUPONT
        address_line_3:
          type: string
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiment ...)'
          example: Résidence des Peupliers
        address_line_4:
          type: string
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: 33 avenue de Paris
        address_line_5:
          type: string
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...)'
          example: BP 356
        address_line_6:
          type: string
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: 75000 Paris
        country_code:
          $ref: '#/components/schemas/country_code'
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur
          type: string
          maxLength: 38
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
        reference:
          type: string
          description: référence Maileva du pli.
          example: 13N16000002
        envelope_type:
          $ref: '#/components/schemas/envelope_type'
        documents_override:
          type: array
          description: |-
            Liste de bribes de documents. Si ce champ n'est pas renseigné,
            le destinataire recevra tous les documents associés à l'envoi.
            Si ce champ est renseigné, le destinataire recevra la liste des
            bribes de documents indiquées (dans l'ordre des éléments du tableau).
          items:
            $ref: '#/components/schemas/documents_override_item'
        status:
          $ref: '#/components/schemas/recipient_status'
        status_detail:
          type: string
          description: Détail d'un statut (cause du rejet)
        statuses:
          description: Liste des statuts
          type: array
          items:
            $ref: '#/components/schemas/statuses'
        scheduled_date:
          type: string
          description: Date de planification
          example: '2018-03-14'
        deposit_proof_scheduled_date:
          type: string
          description: Date de planification
          example: '2018-03-14'
        scheduled_delivery_date:
          type: string
          description: Date de planification de remise
          example: '2018-03-14'
        last_delivery_status:
          type: string
          description: Dernier statut de distribution
          example: 'LP03'
        last_delivery_status_date:
          type: string
          format: date-time
          description: Date du dernier statut de distribution
          example: '2018-03-14T07:21:40.757Z'
        postage_price:
          type: number
          format: float
          description: Coût de l'affranchissement en euros
        postage_class:
          $ref: '#/components/schemas/postage_class'
        registered_number:
          type: string
          description: Numéro de recommandé
          example: '1E3232323'
        content_proof_embedded_document_url:
          type: string
          description: URL du document contenu dans la preuve de contenu
          example: /sendings/110e8400-e29b-11d4-a716-446655440000/recipients/d905a65e-aa46-4f37-8480-260c4600c810/content_proof/download_embedded_document
        deposit_proof_date:
          type: string
          format: date-time
          description: Date de la preuve de dépôt
          example: '2018-03-14T07:21:40.757Z'
        deposit_proof_archive_date:
          type: string
          format: date-time
          description: Date d'archivage de la preuve de dépôt
          example: '2018-03-14T07:21:40.757Z'
        deposit_proof_url:
          type: string
          description: URL de l'archive de la preuve de dépôt. Attendre que cet attribut soit renseigné pour lancer le téléchargement.
          example: /sendings/110e8400-e29b-11d4-a716-446655440000/recipients/d905a65e-aa46-4f37-8480-260c4600c810/download_deposit_proof
        global_deposit_proof_id:
          type: string
          description: Identifiant de la preuve de dépôt globale
          example: 49ab87d8-e84b-4915-bd0b-cbf58a7a7a99
        content_proof_date:
          type: string
          format: date-time
          description: Date de la preuve de contenu. Attendre que cet attribut soit renseigné pour lancer le téléchargement.
          example: '2018-03-14T07:21:40.757Z'
        content_proof_archive_date:
          type: string
          format: date-time
          description: Date d'archivage de la preuve de contenu
          example: '2018-03-14T07:21:40.757Z'
        content_proof_url:
          type: string
          description: URL de l'archive de la preuve de contenu
          example: /sendings/110e8400-e29b-11d4-a716-446655440000/recipients/d905a65e-aa46-4f37-8480-260c4600c810/download_content_proof
        acknowledgement_of_receipt_date:
          type: string
          format: date-time
          description: Date de l'avis de réception (AR). Attendre que cet attribut soit renseigné pour lancer le téléchargement.
          example: '2018-03-15T07:21:40.757Z'
        acknowledgement_of_receipt_archive_date:
          type: string
          format: date-time
          description: Date d'archivage de l'avis de réception (AR)
          example: '2018-03-15T07:21:50.757Z'
        acknowledgement_of_receipt_url:
          type: string
          description: URL de l'archive de l'avis de réception
          example: /sendings/110e8400-e29b-11d4-a716-446655440000/recipients/d905a65e-aa46-4f37-8480-260c4600c810/download_acknowledgement_of_receipt
        undelivered_mail_date:
          type: string
          format: date-time
          description: Date du pli non distribuable (PND).
          example: '2018-03-15T07:21:40.757Z'
        undelivered_mail_archive_date:
          type: string
          format: date-time
          description: Date d'archivage du pli non distribuable (PND). Attendre que cet attribut soit renseigné pour lancer le téléchargement.
          example: '2018-03-15T07:21:50.757Z'
        undelivered_mail_url:
          type: string
          description: URL de l'archive du pli non distribuable (PND)
          example: /sendings/110e8400-e29b-11d4-a716-446655440000/recipients/d905a65e-aa46-4f37-8480-260c4600c810/download_undelivered_mail
        undelivered_mail_reason:
          type: string
          description: |-
            Raison du pli non distribuable (PND)

            <table border="1">
              <tr bgcolor="lightgrey">
                <th>Code</th>
                <th>Libellé</th>
              </tr>
              <tr>
                <td>N02</td>
                <td>Destinataire inconnu à l'adresse</td>
              </tr>
              <tr>
                <td>N03</td>
                <td>Pli avisé et non réclamé</td>
              </tr>
              <tr>
                <td>N05</td>
                <td>Pli refusé par le destinataire</td>
              </tr>
              <tr>
                <td>N07</td>
                <td>Défaut d'accès ou d'adressage</td>
              </tr>
            </table>
          enum:
            - N02
            - N03
            - N05
            - N07
          example: N02

        pages_count:
          type: integer
          description: Nombre de pages. Ce nombre de pages inclut l'éventuelle page porte-adresse (payante ou obligatoire) mais n'inclut pas les pages blanches ajoutées au verso par Maileva.
          example: 3
        billed_pages_count:
          type: integer
          description: Nombre de pages facturées (disponible à partir du statut ACCEPTED). Ce nombre de pages inclut la page porte-adresse payante (DL) mais n'inclut pas la page porte-adresse obligatoire (C4) ni les pages blanches ajoutées au verso par Maileva.
          example: 3
        sheets_count:
          type: integer
          description: Nombre de feuilles (disponible à partir du statut ACCEPTED). Ce nombre de feuilles inclut la page porte-adresse éventuelle (payante ou obligatoire).
          example: 2
        delivery_statuses:
          description: Liste des delivery statuses
          type: array
          items:
            $ref: '#/components/schemas/delivery_status'
        main_delivery_statuses:
          description: Liste des main delivery statuses
          type: array
          items:
            $ref: '#/components/schemas/main_delivery_status_response'
        last_main_delivery_status:
          type: object
          description: Dernier statut principal de distribution
          $ref: '#/components/schemas/main_delivery_status_response'
        custom_fields:
          description: Champs de personnalisation du destinataire
          type: object
          additionalProperties:
            type: string

    recipient_status:
      type: string
      description: |-
        Statut du destinataire.
        <table border="1">
          <tr bgcolor="lightgrey">
            <th>Code</th>
            <th>Libellé</th>
          </tr>
          <tr>
            <td>DRAFT</td>
            <td>le destinataire a été ajouté à l'envoi qui est au statut draft</td>
          </tr>
          <tr>
            <td>PENDING</td>
            <td>le destinataire n'a été ni traité, ni rejeté</td>
          </tr>
          <tr>
            <td>BLOCKED</td>
            <td>Envoi bloqué</td>
          </tr>
          <tr>
            <td>ACCEPTED</td>
            <td>Validé</td>
          </tr>
          <tr>
            <td>PROCESSED</td>
            <td>le destinataire a été mis sous pli (liasse appairée si recommandée)</td>
          </tr>
          <tr>
            <td>REJECTED</td>
            <td>le destinataire n'est pas valide</td>
          </tr>
          <tr>
            <td>SENDING_REJECTED</td>
            <td>Envoi rejeté</td>
          </tr>
          <tr>
            <td>CANCELED</td>
            <td>Annulé</td>
          </tr>
          <tr>
            <td>PREPARING</td>
            <td>En préparation</td>
          </tr>
        </table>
      enum:
        - DRAFT
        - PENDING
        - BLOCKED
        - ACCEPTED
        - SENDING_REJECTED
        - CANCELED
        - PREPARING
        - PROCESSED
        - REJECTED
      example: PENDING
    recipients_counts:
      type: object
      properties:
        draft:
          type: integer
          description: Nombre de destinataires au statut DRAFT
          example: 0
        pending:
          type: integer
          description: Nombre de destinataires au statut PENDING
          example: 1
        blocked:
          type: integer
          description: Nombre de destinataires au statut BLOCKED
          example: 1
        accepted:
          type: integer
          description: Nombre de destinataires au statut ACCEPTED
          example: 1
        processed:
          type: integer
          description: Nombre de destinataires au statut PROCESSED
          example: 0
        sending_rejected:
          type: integer
          description: Nombre de destinataires au statut SENDING_REJECTED
          example: 1
        canceled:
          type: integer
          description: Nombre de destinataires au statut CANCELED
          example: 1
        preparing:
          type: integer
          description: Nombre de destinataires au statut PREPARING
          example: 1
        rejected:
          type: integer
          description: Nombre de destinataires au statut REJECTED
          example: 0
        total:
          type: integer
          description: Nombre de destinataires total
          example: 1
    recipients_response:
      type: object
      required:
        - recipients
        - paging
      description: Les destinataires d'un envoi
      properties:
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/recipient_response'
        paging:
          $ref: '#/components/schemas/paging_response'
    return_envelope:
      type: object
      description : Option d'ajout d'une envelope retour
      properties:
        type:
          type: string
          description: |-
            Type d'enveloppe retour. 
            FRANKING_ENVELOPE : Enveloppe à affranchir, PREPAID_ENVELOPE : Enveloppe T
          example: PREPAID_ENVELOPE
        id:
          type: string
          description : Identifiant de l'envelope retour
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6

    update_return_envelope:
      type: object
      nullable: true
      description: Option d'ajout d'une envelope retour
      properties:
        type:
          type: string
          description: |-
            Type d'enveloppe retour. 
            FRANKING_ENVELOPE : Enveloppe à affranchir, PREPAID_ENVELOPE : Enveloppe T PREPAID_ENVELOPE : Enveloppe T
          example: PREPAID_ENVELOPE
        id:
          type: string
          description: Identifiant de l'envelope retour
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6

    recipient_creation_import:
      type: object
      description: La ligne d'adresse n°1 ou la ligne d'adresse n°2 doit être renseignée et la ligne d'adresse n°6 doit être renseignée
      properties:
        correlation_id:
          type: string
          maxLength: 36
          description: Identifiant du destinataire pour la référence
          example: "4f89b0f7-30fb-47f5-8be6-111111111111"
        custom_id:
          type: string
          description: Identifiant du destinataire fourni par le client
          example: "custom"
        reference_to_print:
          type: string
          description: référence client imprimable
          example: custom12234
        custom_data:
          type: string
          description: Information libre fournie par le client
          example: "order_1234"
        address_line_1:
          type: string
          description: Ligne d'adresse n°1 (Société)
          example: "La Poste"
        address_line_2:
          type: string
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom)
          example: "Me Eva DUPONT"
        address_line_3:
          type: string
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...)
          example: "Résidence des Peupliers"
        address_line_4:
          type: string
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: "33 avenue de Paris"
        address_line_5:
          type: string
          description: Ligne d'adresse n°5 (Lieu dit, BP...)
          example: "BP 356"
        address_line_6:
          type: string
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: "75000 Paris"
        custom_fields:
          description: Champs de personnalisation du destinataire
          type: object
          additionalProperties:
            type: string
        country_code:
          type: string
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          type: string
        documents_override:
          type: array
          description: |-
            Liste de bribes de documents. Si ce champ n'est pas renseigné,
            le destinataire recevra tous les documents associés à l'envoi.
            Si ce champ est renseigné, le destinataire recevra la liste des
            bribes de documents indiquées (dans l'ordre des éléments du tableau).
          items:
            $ref: '#/components/schemas/documents_override_item'

    recipients_import_response:
      type: object
      required:
        - rejected_import
        - accepted_import
      description: Les destinataires d'un envoi
      properties:
        accepted_import:
          type: array
          items:
            $ref: '#/components/schemas/accepted_import'
        rejected_import:
          type: array
          items:
            $ref: '#/components/schemas/rejected_import'

    accepted_import:
      type: object
      properties:
        correlation_id:
          type: string
          maxLength: 32
          description: Identifiant du destinataire fourni par le client
          example: "4f89b0f7-30fb-47f5-8be6-111111111111"
        id:
          type: string
          maxLength: 32
          description: Identifiant du destinataire généré par api
          example: "6dfe84bc-3428-43db-90b5-ff9ac3b68ac2"

    rejected_import:
      type: object
      required:
        - address_line_6
        - country_code
      properties:
        correlation_id:
          type: string
          maxLength: 32
          description: Identifiant du destinataire fourni par le client
          example: "4f89b0f7-30fb-47f5-8be6-111111111111"
        custom_id:
          type: string
          description: Identifiant du destinataire fourni par le client
          example: "custom"
        reference_to_print:
          type: string
          description: référence client imprimable
          example: custom12234
        custom_data:
          type: string
          description: Information libre fournie par le client
          example: "order_1234"
        address_line_1:
          type: string
          description: Ligne d'adresse n°1 (Société)
          example: "La Poste"
        address_line_2:
          type: string
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom)
          example: "Me Eva DUPONT"
        address_line_3:
          type: string
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...)
          example: "Résidence des Peupliers"
        address_line_4:
          type: string
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: "33 avenue de Paris"
        address_line_5:
          type: string
          description: Ligne d'adresse n°5 (Lieu dit, BP...)
          example: "BP 356"
        address_line_6:
          type: string
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: "75 Paris"
        custom_fields:
          description: Champs de personnalisation du destinataire
          type: object
          additionalProperties:
            type: string
        country_code:
          $ref: '#/components/schemas/country_code'
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur. Renseigner ce champ au niveau de la ressource sending et ne pas le renseigner au niveau de recipient si l'adresse expéditeur est la même pour tous les destinataires.
          type: string
          maxLength: 38
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error_response'
        documents_override:
          type: array
          items:
            $ref: '#/components/schemas/documents_override_item'

    sending_creation:
      type: object
      description: un envoi
      required:
        - name
      properties:
        name:
          type: string
          description: Nom de l'envoi
          maxLength: 256
          x-constraints: '@NotEmptySendingName'
          example: Résiliation d'un abonnement téléphonique
        custom_id:
          type: string
          maxLength: 38
          description: Identifiant de l'envoi défini par le client
          example: order_1234
        custom_data:
          type: string
          maxLength: 255
          description: Information libre fournie par le client
          example: order_1234
        acknowledgement_of_receipt:
          type: boolean
          description: Avis de réception (AR)
          default: true
          example: true
        expected_date:
          type: string
          x-constraints: '@ValidScheduledDateFormat @ValidScheduledDate'
          description: Date de planification choisie par le client (à 366j max)
          example: '2018-03-14'
        color_printing:
          type: boolean
          description: Impression couleur
          default: true
          example: true
        duplex_printing:
          type: boolean
          description: Impression recto verso
          default: true
          example: true
        optional_address_sheet:
          type: boolean
          description: Feuille porte-adresse optionnelle
          default: false
          example: false
        notification_email:
          type: string
          x-constraints: '@NotEmptySendingNotificationEmail @ValidNotificationEmail @ValidNotificationEmailLength'
          description: E-mail du destinataire des notifications
          example: do_not_reply@maileva.com
        notification_types:
          description: Types de notifications
          example: [ ALL_MAILEVA, ALL_LAPOSTE ]
          type: array
          items:
            $ref: '#/components/schemas/notification_type'
        reference_to_print_enabled:
          type: boolean
          description: Possibilité d'imprimer une référence client
          default: false
          example: true
        print_sender_address:
          type: boolean
          description: Impression de l'adresse expéditeur
          default: false
          example: false
        returned_mail_scanning:
          type: boolean
          description: Gestion numérique des PND (plis non distribuables)
          default: false
          example: false
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur
          type: string
          maxLength: 38
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur
          type: string
          maxLength: 38
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur
          type: string
          maxLength: 38
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur
          type: string
          maxLength: 38
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur
          type: string
          maxLength: 38
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur
          type: string
          maxLength: 38
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
        archiving_duration:
          type: integer
          x-constraints: '@ValidSendingArchivingDuration'
          default: 3
          description: Durée d'archivage en années, durées autorisées 3, 6, 10
          example: 3
        postage_type:
          type: string
          x-constraints: '@ValidPostageTypeForPostSending'
          description: Type d'affranchissement. Valeurs autorisées FAST, URGENT. FAST distribution en 3 jours et URGENT distribution en 2 jours.
          default: FAST
          example: 'FAST'
        return_envelope:
          $ref: '#/components/schemas/return_envelope'

    sending_update:
      type: object
      description: Un envoi. Pour supprimer un attribut, passer une chaîne vide. Cette opération n’est pas réalisable sur les attributs obligatoires de l’objet sending_creation
      properties:
        name:
          type: string
          description: Nom de l'envoi
          x-constraints: '@NotEmptySendingName'
          maxLength: 256
          example: Résiliation d'un abonnement téléphonique
        custom_id:
          type: string
          maxLength: 38
          description: Identifiant de l'envoi défini par le client
          example: order_1234
        custom_data:
          type: string
          maxLength: 255
          description: Information libre fournie par le client
          example: order_1234
        acknowledgement_of_receipt:
          type: boolean
          description: Avis de réception (AR)
          example: true
        expected_date:
          type: string
          nullable: true
          x-constraints: '@ValidPatchScheduledDateFormat @ValidScheduledDate'
          description: Date de planification choisie par le client (à 366j max)
          example: '2018-03-14'
        color_printing:
          type: boolean
          description: Impression couleur
          example: true
        duplex_printing:
          type: boolean
          description: Impression recto verso
          example: true
        optional_address_sheet:
          type: boolean
          description: Feuille porte-adresse optionnelle
          example: false
        notification_email:
          type: string
          x-constraints: '@NotEmptySendingNotificationEmail @ValidNotificationEmail @ValidNotificationEmailLength'
          description: E-mail du destinataire des notifications
          example: do_not_reply@maileva.com
        notification_types:
          description: Types de notifications
          example: [ ALL_MAILEVA, ALL_LAPOSTE ]
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/notification_type'
        reference_to_print_enabled:
          type: boolean
          description: Possibilité d'imprimer une référence client
          example: true
        print_sender_address:
          type: boolean
          description: Impression de l'adresse expéditeur
          example: false
        returned_mail_scanning:
          type: boolean
          description: Gestion numérique des PND (plis non distribuables)
          example: false
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur
          type: string
          maxLength: 38
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur
          type: string
          maxLength: 38
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur
          type: string
          maxLength: 38
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur
          type: string
          maxLength: 38
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur
          type: string
          maxLength: 38
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur
          type: string
          maxLength: 38
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
        archiving_duration:
          type: integer
          x-constraints: '@ValidSendingArchivingDuration'
          description: Durée d'archivage en années, durées autorisées 3, 6, 10
          example: 3
        postage_type:
          type: string
          x-constraints: '@ValidPostageTypeForPatchSending'
          description: Type d'affranchissement. Valeurs autorisées FAST, URGENT. FAST distribution en 3 jours et URGENT distribution en 2 jours.
          example: 'FAST'
        return_envelope:
          $ref: '#/components/schemas/update_return_envelope'

    template_creation:
      type: object
      properties:
        template_name:
          type: string
          description: Nom du template
          example: 'Modèle mise en demeure'
        template_description:
          type: string
          description: Description du template
          example: 'Modèle pour les mises en demeure'

    template_response:
      type: object
      properties:
        template_id:
          type: string
          description: Identifiant du template
        template_href:
          type: string
          description: Lien vers le template

    from_template_creation:
      type: object
      properties:
        template_id:
          type: string
          description: Identifiant du template

    sending_response:
      type: object
      description: Un envoi de LREL
      properties:
        id:
          type: string
          description: Identifiant d'un envoi
          example: 110e8400-e29b-11d4-a716-446655440000
        name:
          type: string
          description: Nom d'un envoi
          example: Résiliation d'un abonnement téléphonique
        custom_id:
          type: string
          description: Identifiant de l'envoi défini par le client
          example: order_1234
        custom_data:
          type: string
          description: Information libre fournie par le client
          example: order_1234
        status:
          $ref: '#/components/schemas/sending_status'
        status_detail:
          type: string
          description: Détail d'un statut (cause du rejet)
        statuses:
          description: Liste des statuts
          type: array
          items:
            $ref: '#/components/schemas/statuses'
        acknowledgement_of_receipt:
          type: boolean
          description: Avis de réception (AR)
          example: true
        creation_date:
          type: string
          format: date-time
          description: Date et heure de création
          example: '2018-03-14T07:21:40.757Z'
        submission_date:
          type: string
          format: date-time
          description: Date et heure de soumission
          example: '2018-03-14T07:21:40.757Z'
        expected_date:
          type: string
          format: date
          description: Date de planification choisie par le client (à 366j max)
          example: '2023-08-15'
        scheduled_date:
          type: string
          format: date
          description: Date de planification.
          example: '2023-08-16'
        processed_date:
          type: string
          format: date-time
          description: Date et heure de production
          example: '2018-03-14T07:21:40.757Z'
        archive_date:
          type: string
          format: date-time
          description: Date d'archivage du dernier pli archivable
          example: '2018-03-14T07:21:40.757Z'
        documents_count:
          type: integer
          description: Nombre de documents dans l'envoi
          example: 1
        documents_weight:
          type: integer
          description: Poids du document (en octets)
        pages_count:
          type: integer
          description: Somme du nombre de pages de chaque destinataire. Ce nombre de pages inclut les pages porte-adresse (payantes ou obligatoires) mais n'inclut pas les pages blanches ajoutées au verso par Maileva.
          example: 3
        billed_pages_count:
          type: integer
          description: Nombre de pages facturées (disponible à partir du statut ACCEPTED). Ce nombre de pages inclut les pages porte-adresse payantes (DL) mais n'inclut pas les pages porte-adresse obligatoires (C4) ni les pages blanches ajoutées au verso par Maileva.
          example: 3
        sheets_count:
          type: integer
          description: Somme du nombre de feuilles de chaque destinataire (disponible à partir du statut ACCEPTED). Ce nombre de feuilles inclut les pages porte-adresse (payantes ou obligatoires).
          example: 2
        recipients_counts:
          $ref: '#/components/schemas/recipients_counts'
        reference:
          type: string
          description: Référence d'envoi
          example: 13O14200004
        color_printing:
          type: boolean
          description: Impression couleur
          example: true
        duplex_printing:
          type: boolean
          description: Impression recto verso
          example: true
        optional_address_sheet:
          type: boolean
          description: Feuille porte-adresse optionnnelle (payante)
          example: false
        system_address_sheet:
          type: boolean
          description: Feuille porte-adresse imposée (gratuite)
          example: false
        notification_email:
          type: string
          description: Email de notification
          example: do_not_reply@maileva.com
        notification_types:
          description: Types de notifications
          example: [ ALL_MAILEVA, ALL_LAPOSTE ]
          type: array
          items:
            $ref: '#/components/schemas/notification_type'
        envelope_type:
          $ref: '#/components/schemas/envelope_type'
        reference_to_print_enabled:
          type: boolean
          description: Possibilité d'imprimer une référence client
          example: true
        print_sender_address:
          type: boolean
          description: Impression de l'adresse expéditeur
          default: false
          example: false
        returned_mail_scanning:
          type: boolean
          description: Gestion numérique des PND (plis non distribuables)
          example: false
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur
          type: string
          example: Société Durand
        sender_address_line_2:
          description: Ligne d'adresse n°2 (Civilité, Prénom, Nom) de l'expéditeur
          type: string
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: Ligne d'adresse n°3 (Résidence, Bâtiment ...) de l'expéditeur
          type: string
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur
          type: string
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: Ligne d'adresse n°5 (Lieu dit, BP...) de l'expéditeur
          type: string
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur
          type: string
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
        archiving_duration:
          type: integer
          description: Durée d'archivage en années, durées autorisées 3, 6, 10
          example: 3
        deposit_proof_scheduled_date:
          type: string
          description: Date de planification
          example: '2018-03-14'
        postage_type:
          type: string
          description: Type d'affranchissement. Valeurs autorisées FAST, URGENT. FAST distribution en 3 jours et URGENT distribution en 2 jours.
          example: 'FAST'
        template_id:
          type: string
          description: id du template
          example: 'templateId'
        return_envelope:
          $ref: '#/components/schemas/return_envelope'
        restitution:
          type: boolean
          description: Retour en GED
          example: true

    sendings_response:
      type: object
      required:
        - sendings
        - paging
      description: Les envois
      properties:
        sendings:
          type: array
          items:
            $ref: '#/components/schemas/sending_response'
        paging:
          $ref: '#/components/schemas/paging_response'
    global_deposit_proofs_response:
      type: object
      required:
        - global_deposit_proofs
        - paging
      description: Les preuves de dépôt globales
      properties:
        global_deposit_proofs:
          type: array
          items:
            $ref: '#/components/schemas/global_deposit_proof_response'
        paging:
          $ref: '#/components/schemas/paging_response'
    sending_status:
      type: string
      description: |-
        Statut d'un envoi : 
        <table border="1">
          <tr bgcolor="lightgrey">
            <th>Code</th>
            <th>Libellé</th>
          </tr>
          <tr>
            <td>DRAFT</td>
            <td>L'envoi est au statut de brouillon, non validé par l’utilisateur</td>
          </tr>
          <tr>
            <td>PENDING</td>
            <td>Le client a fait un envoi, mais il n’a pas encore été analysé par le système ou l'envoi a été reçu mais il n’a pas encore été analysé</td>
          </tr>
          <tr>
            <td>BLOCKED</td>
            <td>L'envoi est en attente d'une autorisation financière</td>
          </tr>
          <tr>
            <td>ACCEPTED</td>
            <td>L'envoi a été accepté et il sera traité</td>
          </tr>
          <tr>
            <td>REJECTED</td>
            <td>L'envoi est refusé</td>
          </tr>
          <tr>
            <td>CANCELED</td>
            <td>Votre envoi est annulé</td>
          </tr>
          <tr>
            <td>PREPARING</td>
            <td>Votre envoi est en cours de production (impression et mise sous pli)</td>
          </tr>
          <tr>
            <td>PROCESSED</td>
            <td>L'envoi a été traité et tous les destinataires étaient valides</td>
          </tr>
          <tr>
            <td>PROCESSED_WITH_ERRORS</td>
            <td>L'envoi a été traité mais certains destinataires n’étaient pas valides</td>
          </tr>
        </table>
      enum:
        - DRAFT
        - PENDING
        - BLOCKED
        - ACCEPTED
        - REJECTED
        - CANCELED
        - PREPARING
        - PROCESSED
        - PROCESSED_WITH_ERRORS
      example: PENDING
    global_deposit_proof_response:
      type: object
      properties:
        id:
          description: Identifiant de la preuve de dépôt
          type: string
          example: 49ab87d8-e84b-4915-bd0b-cbf58a7a7a62
        date:
          description: Date de la preuve de dépôt
          type: string
          format: date-time
          example: '2018-03-14T07:21:40.757Z'
        sending_id:
          description: Identifiant de l'envoi associé à la preuve de dépôt
          type: string
          example: 49ab87d8-e84b-4915-bd0b-cbf58a7a7a99
        url:
          description: Lien de téléchargement de la preuve de dépôt
          type: string
          example: /global_deposit_proofs/49ab87d8-e84b-4915-bd0b-cbf58a7a7a62/download
        archive_date:
          description: Date d'archivage de la preuve de dépôt
          type: string
          format: date-time
          example: '2018-03-14T07:21:40.757Z'

    document_metadata:
      title: document_metadata
      type: object
      format: application/json
      properties:
        priority:
          type: integer
          minimum: 1
        name:
          type: string
        category:
          type: string
          description: Type du document
          enum:
              - ANNEX
    delivery_status:
      type: object
      description: Statut de distribution
      properties:
        date:
          type: string
          format: date-time
          description: Date de l'évènement
          example: '2018-03-14T07:21:40.757Z'
        location:
          type: string
          description: Lieu de l'évènement
          example: 'LOGNES PIC'
        code:
          type: string
          description: |-
            Code MAILEVA du statut de distribution
            <table border="1">
            <tr bgcolor="lightgrey">
            <th>Code</th>
            <th>Libellé</th>
            <th>Code fournisseur</th>
            <th>Famille</th>
            </tr>
            <tr><td>LP01</td><td>Pris en charge</td><td>PCHCFM</td><td>Prise en charge</td></td>
            <tr><td>LP02</td><td>Courrier imprimé et prêt à expédier</td><td>EPCCFM</td><td>Prise en charge</td></td>
            <tr><td>LP03</td><td>Tri départ</td><td>AECCFM</td><td>Acheminement</td></td>
            <tr><td>LP04</td><td>Tri arrivée</td><td>CHGCFM</td><td>Acheminement</td></td>
            <tr><td>LP05</td><td>Preuve de dépôt numérique disponible</td><td>POCDSP</td><td>Acheminement</td></td>
            <tr><td>LP06</td><td>Preuve de contenu générée</td><td>POCCFM</td><td>Acheminement</td></td>
            <tr><td>LP07</td><td>Preuve de contenu envoyée</td><td>PCHPIC</td><td>Acheminement</td></td>
            <tr><td>LP08</td><td>Pli mis à disposition en bureau de poste</td><td>MLVARS</td><td>Instance</td></td>
            <tr><td>LP09</td><td>Destinataire absent avisé</td><td>RENAVI</td><td>Instance</td></td>
            <tr><td>LP10</td><td>Destinataire absent nouveau rendez-vous</td><td>RENNRV</td><td>Instance</td></td>
            <tr><td>LP11</td><td>Remis en distribution</td><td>RSTFHB</td><td>Instance</td></td>
            <tr><td>LP12</td><td>Distribution différée pour force majeure</td><td>RSTFMA</td><td>Instance</td></td>
            <tr><td>LP13</td><td>Distribution différée pour raison interne</td><td>RSTNCG</td><td>Instance</td></td>
            <tr><td>LP14</td><td>Arrivée au site de distribution</td><td>AARCFM</td><td>Distribution</td></td>
            <tr><td>LP15</td><td>Distribué</td><td>LIVCFM</td><td>Distribution</td></td>
            <tr><td>LP16</td><td>Distribué (avec remarques du destinataire)</td><td>LIVRCA</td><td>Distribution</td></td>
            <tr><td>LP17</td><td>Distribué à l'expéditeur (suite au retour du pli)</td><td>LIVREO</td><td>Distribution</td></td>
            <tr><td>LP18</td><td>Avis de réception numérique disponible</td><td>PODDSP</td><td>Distribution</td></td>
            <tr><td>LP19</td><td>Retour à l'expéditeur pour cause de délai d'instance expiré</td><td>RENATT</td><td>Retour à l'expéditeur</td></td>
            <tr><td>LP20</td><td>Retour à l'expéditeur pour cause d'adresse incorrecte/incomplète</td><td>RENCAD</td><td>Retour à l'expéditeur</td></td>
            <tr><td>LP21</td><td>Retour à l'expéditeur pour cause de destinataire inconnu à l'adresse</td><td>RENDIA</td><td>Retour à l'expéditeur</td></td>
            <tr><td>LP22</td><td>Retour à l'expéditeur pour cause de pli refusé</td><td>RENDIV</td><td>Retour à l'expéditeur</td></td>
            <tr><td>LP23</td><td>Renvoyé par le Service Client au destinataire</td><td>CHGRCA</td><td>Réexpédition</td></td>
            <tr><td>LP24</td><td>Renvoi du Service Client vers l'expéditeur après enquête</td><td>SOLREO</td><td>Réexpédition</td></td>
            <tr><td>LP25</td><td>Renvoi du Service Client vers l'expéditeur - Délai de garde expiré</td><td>SOLMAR</td><td>Réexpédition</td></td>
            <tr><td>LP26</td><td>Réexpédition/Dérivation</td><td>RENLNA</td><td>Réexpédition</td></td>
            <tr><td>LP27</td><td>Renvoi du Service Client vers l'expéditeur</td><td>RSDREI</td><td>Réexpédition</td></td>
            <tr><td>LP28</td><td>Distribué au destinataire après enquête</td><td>RSDICI</td><td>Distribution</td></td>
            <tr><td>LP29</td><td>Remis et distribué en lot</td><td>LIVNEM</td><td>Distribution</td></td>
            <tr><td>LP00</td><td>Code inconnu</td><td>Tous les autres</td><td>Inconnu</td></td>
            </table>
          example: 'LP03'
        label:
          type: string
          description: Libellé du statut de distribution
          example: 'Tri départ'
        source:
          type: string
          description: Fournisseur de l'évènement
          example: 'La Poste'
        code_provider:
          type: string
          description: Code fournisseur du statut de distribution. Cette codification est donnée à titre informatif et est susceptible de changer.
          example: 'AECCFM'
        creation_date:
          type: string
          format: date-time
          description: Date de création de la ressource
          example: '2023-05-25T11:33:00.037Z'
    main_delivery_status_response:
      type: object
      description: Statut principal de distribution
      properties:
        date:
          type: string
          format: date-time
          description: Date de l'évènement
          example: '2018-03-14T07:21:40.757Z'
        category:
          type: string
          description: |-
            Catégorie de l'évènement. Valeurs possibles DELIVERING, FIRST_PRESENTATION, DELIVERED, UNDELIVERED.
            <table border="1">
            <tr bgcolor="lightgrey">
            <th>Category</th>
            <th>Signification</th>
            </tr>
            <tr><td>DELIVERING</td><td>En distribution</td></tr>
            <tr><td>FIRST_PRESENTATION</td><td>Première présentation</td></tr>
            <tr><td>DELIVERED</td><td>Distribution</td></tr>
            <tr><td>UNDELIVERED</td><td>Non distribuable</td></tr>
            </table>
          example: 'DELIVERED'
        location:
          type: string
          description: Lieu de l'évènement
          example: 'IVRY BIEVRE PDC1'
        code:
          type: string
          description: Code MAILEVA du statut de distribution
          example: 'LP15'
        label:
          type: string
          description: Libellé du statut de distribution
          example: 'Distribué'
        source:
          type: string
          description: Fournisseur de l'évènement
          example: 'La Poste'
        code_provider:
          type: string
          description: Code fournisseur du statut de distribution. Cette codification est donnée à titre informatif et est susceptible de changer.
          example: 'LIVCFM'
        creation_date:
          type: string
          format: date-time
          description: Date de création de la ressource
          example: '2023-05-25T11:33:00.037Z'
  parameters:
    document_id:
      name: document_id
      in: path
      description: Identifiant du document
      required: true
      schema:
        maxLength: 40
        type: string
    import_recipients_id:
      name: import_id
      in: path
      description: Identifiant de l'import
      required: true
      schema:
        maxLength: 40
        type: string
    status:
      name: status
      in: query
      description: statut d'un envoi (recherche possible avec plusieurs statuts, séparés par une virgurle)
      schema:
        maxLength: 40
        type: string
        example: 'PENDING'
    paging_start_index:
      name: start_index
      in: query
      description: Le premier élément à retourner
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
    paging_count:
      name: count
      in: query
      description: Le nombre d'élément à retourner
      required: false
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 500
    sort:
      name: sort
      in: query
      description: liste des champs à trier ASC séparé par une virgule
      required: false
      schema:
        type: string
        default: ""
    desc:
      name: desc
      in: query
      description: le type de tri, il est ASC si desc est false ou si elle n'est pas renseignée
      required: false
      schema:
        type: boolean
        default: false
    search_parameters:
      name: search_parameters
      in: query
      required: false
      schema:
        type: object
        additionalProperties:
          type: object
    paging_documents_count:
      name: count
      in: query
      description: Le nombre d'éléments à retourner
      required: false
      schema:
        type: number
        default: 30
        minimum: 1
        maximum: 30
    recipient_id:
      name: recipient_id
      in: path
      description: Identifiant du destinataire
      required: true
      schema:
        maxLength: 40
        type: string
    sending_id:
      name: sending_id
      in: path
      description: Identifiant d'un envoi
      required: true
      schema:
        maxLength: 40
        type: string
    global_deposit_proof_id:
      name: global_deposit_proof_id
      in: path
      description: Identifiant d'une preuve de dépôt globale
      required: true
      schema:
        maxLength: 40
        type: string
    addresses_import_id:
      name: addresses_import_id
      in: path
      description: Identifiant d'un import d'adresses
      required: true
      schema:
        maxLength: 40
        type: string
    file_id:
      name: file_id
      in: path
      description: L'ID de la prévisualisation (format PDF)
      required: true
      schema:
        type: string
        format: uuid
paths:
  /sendings:
    post:
      operationId: post-sending
      tags:
        - Envoi
      summary: Création d'un envoi
      description: |-
        Permet de créer un envoi. Cet envoi sera en état de brouillon (DRAFT), il faudra soummettre cet envoi pour qu'il soit envoyé en production.

        Les principales options sont :
        - L'avis de réception (AR) : oui ou non,
        - Le coloris d'impression : couleur ou noir et blanc,
        - Le format d'impression : recto-verso ou recto seul,
        - L'ajout d'une page porte-adresse,
        - Le type d'enveloppe est choisi automatiquement. 1 à 5 feuilles (feuille porte-adresse et enveloppe retour incluses) : enveloppe DL. 6 à 44 feuilles (hors feuille porte-adresse, enveloppe retour incluse) : enveloppe C4.
        - Numérisation des plis non distribuables (PND) : oui ou non,
        - Durée d'archivage : 3 ans, 6 ans ou 10 ans,
        - Notifications par e-mail : adresse e-mail à laquelle la preuve de dépôt et les notifications doivent être envoyées
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sending_creation'
      responses:
        '201':
          description: Successful operation
          headers:
            Location:
              description: URL vers le détail de la ressource
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sending_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    get:
      operationId: get-all-sendings
      tags:
        - Envoi
      summary: Liste des envois
      description: Permet d'obtenir la liste des envois.
      parameters:
        - $ref: '#/components/parameters/paging_start_index'
        - $ref: '#/components/parameters/paging_count'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendings_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'

  '/sendings/{sending_id}':
    get:
      operationId: get-sending
      tags:
        - Envoi
      summary: Détail d'un envoi
      description: Permet de récupérer le détail d'un envoi à partir de son identifiant.
      parameters:
        - $ref: '#/components/parameters/sending_id'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sending_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    patch:
      operationId: update-sending
      tags:
        - Envoi
      summary: Modification partielle d'un envoi
      description: |-
        Permet de modifier un envoi.

        Seuls les envois en état de brouillon (DRAFT) peuvent être modifiés.

        Seuls les paramètres pour lesquels une valeur est fournie sont modifiés.

        Si votre système ne permet pas d'utiliser le verbe PATCH, il est possible d'utiliser le verbe POST.
      parameters:
        - $ref: '#/components/parameters/sending_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sending_update'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/sending_update'
      responses:
        '200':
          description: Successful operation
          headers:
            Location:
              description: URL vers le détail de la ressource
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sending_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    delete:
      operationId: delete-sending
      tags:
        - Envoi
      summary: Suppression d'un envoi
      description: |-
        Permet de supprimer un envoi.

        Seuls les envois en état de brouillon (DRAFT) peuvent être supprimés.
      parameters:
        - $ref: '#/components/parameters/sending_id'
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  '/sendings/{sending_id}/submit':
    post:
      operationId: submit-sending
      tags:
        - Envoi
      summary: Finalisation d'un envoi
      description: |-
        Permet de soumettre l'envoi et de déclencher ainsi la demande de
        production.
        Un envoi soumis ne peut pas être annulé.
      parameters:
        - $ref: '#/components/parameters/sending_id'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  '/sendings/{sending_id}/documents':
    post:
      operationId: post-document-of-sending
      tags:
        - Documents
      summary: Ajout d'un document à l'envoi.
      description: |-
        Permet d'ajouter un document à l'envoi.
        Les types de documents autorisés sont :
          - Adobe (.pdf)
          - Word (.doc, .docx et .rtf)
          - Texte (.txt)
          - Excel (.xls, .xlsx)

        Le poids total des documents ajoutés ne doit pas dépasser 20 Mo par envoi.
        Le nombre total de documents est limité à 30 par envoi.
        Le document doit être transmis en mutipart ainsi que la metadata. La metadata est constituée de *priority* (permet de définir l'ordre d'impression des documents) et de *name* (permet de donner un nom au fichier).
        La première page du document est positionnée systématiquement sur le recto de la feuille.

        Le  nombre de feuilles d’un envoi ne doit pas dépasser la capacité de l’enveloppe

          - Enveloppe grand format C4 (210x300 mm, Double fenêtre) : 45 feuilles maximum (hors feuille porte-adresse, enveloppe retour incluse)

          - Enveloppe petit format DL (114x229 mm Simple ou Double-fenêtre) : 5 feuilles maximum (feuille porte-adresse et enveloppe retour incluses)
      parameters:
        - $ref: '#/components/parameters/sending_id'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document:
                  type: string
                  format: binary
                metadata:
                  $ref: '#/components/schemas/document_metadata'

      responses:
        '201':
          description: Successful operation
          headers:
            Location:
              description: URL vers le détail de la ressource
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    get:
      operationId: get-all-documents-of-sending
      tags:
        - Documents
      summary: Liste des documents d'un envoi
      description: |-
        Permet de récupérer la liste des documents associés à l'envoi.
        La liste des documents d'un envoi peut être paginée. Par défaut et au maximum, la pagination est de 30 résultats.
      parameters:
        - $ref: '#/components/parameters/sending_id'
        - $ref: '#/components/parameters/paging_start_index'
        - $ref: '#/components/parameters/paging_documents_count'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documents_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'

  '/sendings/{sending_id}/documents/{document_id}':
    get:
      operationId: get-document-of-sending
      tags:
        - Documents
      summary: Détail d'un document
      description: Permet de récupérer le détail d'un document utilisé lors de l'envoi.
      parameters:
        - $ref: '#/components/parameters/sending_id'
        - $ref: '#/components/parameters/document_id'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    delete:
      operationId: delete-document-of-sending
      tags:
        - Documents
      summary: Suppression d'un document
      description: Permet de supprimer un document d'un envoi.
      parameters:
        - $ref: '#/components/parameters/sending_id'
        - $ref: '#/components/parameters/document_id'
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  '/sendings/{sending_id}/documents/{document_id}/set_priority':
    post:
      operationId: set-document-priority-of-sending
      tags:
        - Documents
      summary: Classement des documents
      description: |-
        Permet d'ordonner les documents d'un envoi.

        Les documents seront imprimés et mis sous pli dans l'ordre choisi.
      parameters:
        - $ref: '#/components/parameters/sending_id'
        - $ref: '#/components/parameters/document_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/priority'
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  '/sendings/{sending_id}/recipients':
    post:
      operationId: create-recipient-of-sending
      tags:
        - Destinataires
      summary: Ajout d'un destinataire à l'envoi
      description: |-
        Permet d'ajouter un destinataire à l'envoi.
        Le nombre de destinataires est limité à 5000.


        Chaque ligne d’adresse doit contenir au plus 38 caractères.
        La ligne d’adresse 1 ou 2 doit être définie.
        La ligne d’adresse 6 doit être définie.
        Pour les adresses françaises, la ligne d’adresse 6 doit contenir un code
        postal sur 5 chiffres, suivi d’un espace, suivi d’une ville.
      parameters:
        - $ref: '#/components/parameters/sending_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recipient_creation'
      responses:
        '201':
          description: Successful operation
          headers:
            Location:
              description: URL vers le détail de la ressource
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recipient_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    get:
      operationId: get-all-recipients-of-sending
      tags:
        - Destinataires
      summary: Liste des destinataires d'un envoi
      description: |-
        Permet de récupérer la liste des destinataires d'un envoi.
        Cette liste peut être paginée. Par défaut, la pagination est de 50 résultats. Elle peut atteindre 500 au maximum.
      parameters:
        - $ref: '#/components/parameters/sending_id'
        - $ref: '#/components/parameters/paging_start_index'
        - $ref: '#/components/parameters/paging_count'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recipients_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
    delete:
      operationId: delete-all-recipients-of-sending
      tags:
        - Destinataires
      summary: Suppression de tous les destinataires
      description: Permet de supprimer tous les destinataires d'un envoi.
      parameters:
        - $ref: '#/components/parameters/sending_id'
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  '/sendings/{sending_id}/recipients/{recipient_id}':
    get:
      operationId: get-recipient-of-sending
      tags:
        - Destinataires
      summary: Détail d'un destinataire
      description: Permet d'obtenir le détail d'un destinataire d'un envoi.
      parameters:
        - $ref: '#/components/parameters/sending_id'
        - $ref: '#/components/parameters/recipient_id'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recipient_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
[...]
